body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sider{
  height: 100vh;
  /* display: none; */
}

.form-item{
  padding: 20px 0;
}


.title{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
}

.formTitle{
  color: #033047;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
}
.subtitle{
  line-height: 1;
  font-size: 0.6rem;
  margin-bottom: 10px;
  opacity: 60%;
}
.ant-checkbox{
  padding-left:110px !important;
}
.checkboxText{
  font-size: 0.8rem;
  color: #033047;
}
.forgot{
  color: #033047;
  font-size: 0.8rem;
  padding-left:55px;
}
@media only screen and (max-width: 600px){
  .formTitle{
      font-size: 1.6rem;

  }
  .ant-checkbox{
    padding-left:70px !important;
  }
  .checkboxText{
    font-size: 0.5rem;
  }
  .forgot{
    font-size: 0.5rem;
    padding-left:35px;
  }


}



.startButton, .loginButton{
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 0.65rem !important;
  width: 140px;
}

.form-item{
  margin: 1.5% 20% !important;
  text-align: center;
  
}

.formSpace{
  display: flex;
  justify-content: center;
  align-items: center;
}


.ant-btn-primary{
  width: 60%;
}
.ant-form label{
  font-size: 12px !important;
}

